* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: antiquewhite;
}

h1 {
    font-family: "Playfair Display", cursive;
    font-size: 45px;
    text-shadow: 3px 3px 3px rgb(182, 181, 181);
}

.button {
    display: inline-block;
    background-color: hsl(228, 5%, 79%);
    color: black;
    width: 80px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    box-shadow: 5px 5px 10px rgb(40, 39, 39);
}

#img1 {
    float: left;
    margin-right: 10px;
}

#img2 {
    float: right;
    margin-left: 10px;
}

p {
    font-family: Mukta, sans-serif;
    font-weight: 300;
    margin: 0px;
}
