/* General */
* {
    box-sizing: border-box;
}

body {
    background-color: hsl(35, 66%, 84%);
    height: 100vh;
    margin: 0px;
}

/* Heading */
header {
    background-color: hsla(0, 61%, 42%, 0.899);
    margin: 0px;
}

h1 {
    text-align: center;
    text-shadow: 3px 3px 3px hsl(0, 94%, 7%);
    font-family: "Playfair Display", cursive;
    font-size: 80px;
    padding: 15px 1px;
    margin: 0px;
}

/* Navigation */
.nav-bar ul {
    list-style-type: none;
    background-color: hsl(38, 93%, 45%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.nav-bar a {
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-size: 18px;
}

.nav-bar a:hover {
    background-color: hsl(38, 93%, 55%);
}

.nav-bar li {
    float: left;
    width: 25%;
}

/* Main */

.gallery {
    display: inline-block;
    border: 2px solid black;
    margin: 5px;
}

.gallery .description {
    padding: 10px;
    text-align: center; 
    border-top: 2px solid black;
}

.gallery img {
    width: 350px;
    height: 200px;
    display: block;
}


/* Footer */
footer {
    background-color: rgb(81, 81, 81);
}
